.productContainer{
    display: flex;
    justify-content: center;
}
.btn{
    position: absolute;
<<<<<<< HEAD
=======
   
>>>>>>> fe7f195793b502a4a808c47f9c5eb898f46bf16e
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10px;
}