.productContainer{
    display: flex;
    justify-content: center;
}
.btn{
    position: absolute;
<<<<<<< HEAD
    
=======
   
>>>>>>> d4e2687467d99a58b9704301dc83acf7d153aa95
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10px;
}